<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ListasOperacoesEntities" connectionString="metadata=res://*/Models.ListaOperacoesModel.csdl|res://*/Models.ListaOperacoesModel.ssdl|res://*/Models.ListaOperacoesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql2.gear.host;persist security info=True;user id=listaoperacoes;password=Dd5f8035@!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>