<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Lista de Operações</h1>
            <p class="lead">Aplicação simples construída utilizando conceitos básicos de AngularJS e ASP.NET MVC</p>
            <p class="lead">Repositório: <a href="https://github.com/samuelpetroline/ListaOperacoes-v1">https://github.com/samuelpetroline/ListaOperacoes-v1</a></p>
        </div>
    </div>
</body>
</html>
